*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    height: 100%;
    background: #FFFFFF;
    color: #1C1D20; /* text color */
}

/* #header{
    width: 100%;
    height: 100vh;
    background-image: url(images/aakash-dhage-LEJc0kZHaAQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
} */

.container{
    padding: 10px 10%;
    background: #FFFFFF;
}

.nav-container{
    padding: 10px 10%;
    background: #FFFFFF;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

img[alt="logo"]{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #1C1D20;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #1C1D20;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

/* .hero-container{
    padding: 10px 10%;
    color: #FFFFFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/aakash-dhage-LEJc0kZHaAQ-unsplash.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.4);
} */

.hero-container{
    background-color: #1C1D20;
    color: #FFFFFF;
    text-align: center;
    padding: 150px 20px;
}

/* .project1-hero-container{
    padding: 10px 10%;
    color: #FFFFFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/david-brooke-martin-0DLKy4IPoc8-unsplash.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.4);
}

.project2-hero-container{
    padding: 10px 10%;
    color: #FFFFFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/insung-yoon-Iw9Ld4ab8wo-unsplash.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.4);
}

.project3-hero-container{
    padding: 10px 10%;
    color: #FFFFFF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/jay-zhang-mFtcZzLruCQ-unsplash.jpg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.4);
} */

/* .hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
}

.hero-text h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-text p{
    margin-bottom: 20px;
    font-size: 30px;
} */

.hero-text{
    max-width: 800px;
    margin: 0 auto;
}

.hero-text h1{
    max-width: 350px;
    font-size: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    border-right: .10em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.hero-text p{
    font-size: 20px;
    margin-bottom: 20px;
}

.resume-button{ /* view resume */
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    background-color: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: .5s ease-out;
    background: linear-gradient(to left, transparent 50%, #FFFFFF 50%) right;
    background-size: 250%;
    margin-top: 20px;
}

.resume-button:hover{
    color: #1C1D20;
    background-position: left;
}

/*------about------*/
#about{
    margin: 100px 0;
    color: #1C1D20;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%; /* left column width */
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%; /* right column width */
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #1C1D20;
}

.bio{
    font-size: 18px;
    margin-top: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 20px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #1C1D20;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}

.tab-contents ul li span{
    color: #666666;
    font-size: 16px;
}

#tab-contents-span::after{
    content: "\a";
    white-space: pre;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*------projects------*/
#projects, #projects-about, #image-gallery{
    margin-bottom: 50px;
}

#projects-about{
    margin-top: 50px;
}

.project-row{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.column1{
    flex: 50%;
    padding-right: 50px;
    order: 1;
}

.column1 h1, .column1 p{
    padding-bottom: 25px;
}

.column1 h1{
    font-size: 24px;
}

.column1 p{
    font-size: 16px;
}

.column2{
    flex: 50%;
    padding-left: 50px;
    order: 2;
}

.column2 img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.button-row {
    display: flex;
}

.button1, .button2, .pdf-button{
    border: 2px solid #1C1D20;
    color: #1C1D20;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    transition: .5s ease-out;
    background: linear-gradient(to left, #FFFFFF 50%, #1C1D20 50%) right;
    background-size: 250%;
}

.button2{
    margin-left: 25px;
}

.button1:hover, .button2:hover, .pdf-button:hover{
    color: #FFFFFF;
    background-position: left;
}

/*------gallery------*/
#image-gallery{
    margin-top: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
  
.image-container {
    position: relative;
    flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
    margin: 10px;
    overflow: hidden;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* This line ensures that the overlay doesn't intercept click events */
    border-radius: 15px;
}
  
.image-container:hover .overlay {
    opacity: 1;
}
  
.overlay p {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

body.modal-open {
    overflow: hidden;
}  
  
.modal-content {
    margin: auto;
    display: block;
    max-width: 70%;
    max-height: 90%;
}
  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
.prev {
    left: 100px;
}
  
.next {
    right: 100px;
}  

/*------footer------*/
.footer-container{
    display: flex;
    justify-content: space-between;
    background: #E8E8E8;
 }

.email, .number{
    width: 50%;
    text-align: center;
    padding: 5% 10%;
    font-size: 16px;
}

.email span, .number span{
    font-weight: 600;
}

.copyright{
    background: #E8E8E8 ;
    text-align: center;
    padding-bottom: 2%;
    font-size: 14px;
}

nav .fa{
    display: none;
}

/*---- responsive design ----*/
/* laptops/desktop */
 @media (min-width: 1025px) and (max-width: 1280px){
    .sub-title{
        font-size: 30px;
        margin-top: 0px;
    }
    .bio{
        font-size: 14px;
        margin-top: 20px;
    }
    .tab-titles{
        margin: 20px 0 20px;
    }
    .tab-links{
        font-size: 14px;
        margin-right: 40px;
    }
    .tab-contents ul li{
        list-style: none;
        margin: 10px 0;
        font-size: 14px;
    }
    .tab-contents ul li span{
        color: #666666;
        font-size: 14px;
    }
    .column1 h1{
        font-size: 18px;
    }
    .column1 p{
        font-size: 12px;
    }
    .column2{
        padding-left: 60px;
    }
   .button1, .button2, .pdf-button{
        font-size: 12px;
    }
    .email, .number{
        font-size: 12px;
    }
    .copyright{
        font-size: 10px;
        padding-bottom: 4%;
        
    }
}

/* tablets */
@media (max-width: 1024px){
    img[alt="logo"]{
        width: 120px;
    }
    /*  
    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #FFFFFF;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding-top: 50px;  
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } */
    .hero-text h1{
        font-size: 40px;
    }
    .hero-text p{
        font-size: 20px;
    }
    .about-col-1, .about-col-2, .column1, .column2{
        flex-basis: 100%;
    }
    .sub-title{
        margin-top: 20px;
    }
    .column1{
        margin-top: 50px;
        padding-right: 0px;
        order: 2;
    }
   .column2{
        padding-left: 0px;
        order: 1;
   }
   .button1, .button2, .pdf-button{
        font-size: 14px;
    }
    .email, .number{
        font-size: 14px;
        white-space: nowrap;
    }
    .copyright{
        font-size: 12px;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 6%;
    }
    #software-skills-tab{
        display: none;
    }
    .overlay{
        display: none;
    }
    .image-container {
        flex: 0 0 calc(50% - 20px); /* Adjust width for 2 by 2 layout */
        pointer-events: none;
    }
    .prev {
        left: 200px;
    }
    .next {
        right: 200px;
    }  
}

/* mobile */
@media (max-width: 480px){
    img[alt="logo"]{
        width: 100px;
    }
    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #1C1D20;
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        padding-top: 50px;  
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 40px;
    }
    nav ul li a{
        color: #FFFFFF;
    }
    nav ul li a::after{
        background: #FFFFFF;
    }
    nav ul .fa{
        position: absolute;
        top: 40px;
        left: 40px;
        cursor: pointer;
        color: #FFFFFF;
    }
    .hero-text h1{
        font-size: 30px;
        max-width: 250px;
    }
    .hero-text p{
        font-size: 20px;
    }
    .resume-button{ /*--view resume---*/
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        padding: 1em 1em;
        font-size: 14px;
    }
    .sub-title{
        font-size: 30px;
        margin-top: 20px;
    }
    .bio{
        font-size: 16px;
        margin-top: 20px;
    }
    .about-col-1, .about-col-2, .column1, .column2{
        flex-basis: 100%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 40px;
    }
    .tab-contents ul li{
        list-style: none;
        margin: 10px 0;
        font-size: 16px;
    }
    .tab-contents ul li span{
        color: #666666;
        font-size: 16px;
    }
    .column1{
        margin-top: 25px;
        padding-right: 0px;
        order: 2;
    }
    .column1 h1{
        font-size: 20px;
    }
    .column1 p{
        font-size: 16px;
    }
    .button-row{
        flex-wrap: wrap;
    }
    .button1, .button2{
        font-size: 14px;
    }
    .button2{
        margin-left: 0px;
        margin-top: 25px;
    }
    .column2{
        padding-left: 0px;
        order: 1;
    }
    #projects{
        margin-bottom: 50px;
    }
    .email, .number{
        font-size: 12px;
        padding: 10% 10%;
        white-space: wrap;
    }
    .copyright{
        font-size: 10px;
    }
    #software-skills-tab{
        display: none;
    }
    .gallery {
        flex-direction: column; /* Display images in a single column */
    }
    .overlay {
        display: none;
    }
    .image-container {
        flex: 1 1 auto; /* Take up full width of the column */
        margin: 10px 0; /* Adjust margin for spacing */
        pointer-events: none;
    }
    #about {
        margin: 50px 0;
    }
    #image-gallery {
        margin-top: 0px;
    }
    .close, .prev, .next {
        font-size: 30px;
    }
    .modal {
        padding-top: 200px;
    }
    .prev, .next {
        transform: translateY(100%);
    }
}