
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #FFFFFF;
    color: #000000; /* text color */
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/andrew-mt-tHiDL7vAWFo-unsplash.jpg);
    background-size: cover;
    background-position: top 10% center;
}

.container{
    padding: 10px 10%;
    background: #FFFFFF;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

img[alt="logo"]{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.hero-container{
    padding: 10px 10%;
    color: #FFFFFF;
}

.hero-text{
    margin-top: 20%;
    font-size: 30px;
}

.hero-text h1{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume-button{ /*--view resume---*/
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    background-color: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: .5s ease-out;
    background: linear-gradient(to left, transparent 50%, #FFFFFF 50%) right;
    background-size: 250%;
}

.resume-button:hover{
    color: #000000;
    background-position: left;
}

/*------about------*/

#about{
    padding: 100px 0;
    color: #000000;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%; /* left column width */
}

.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}

.about-col-2{
    flex-basis: 60%; /* right column width */
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}

.bio{
    font-size: 18px;
    margin-top: 20px;
}

.tab-titles{
    display: flex;
    margin: 40px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tab-contents ul li span{
    color: #666666;
    font-size: 16px;
}

#tab-contents-span::after{
    content: "\a";
    white-space: pre;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*------projects------*/

#projects{
    padding: 50px 0;
}
  
.column1{
    flex: 50%;
    margin-top: 100px;
    padding-top: 50px;
    padding-right: 100px;
}

.column1 h1, .column1 p{
    padding-bottom: 25px;
}

.column2{
    flex: 50%;
    margin-top: 100px;
    padding-left: 100px;
}

.column2 img{
    width: 100%;
    height: auto;
}

.button1, .button2{
    border: 2px solid #000000;
    color: #000000;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: .5s ease-out;
    background: linear-gradient(to left, #FFFFFF 50%, #000000 50%) right;
    background-size: 250%;
}

.button1:hover, .button2:hover{
    color: #FFFFFF;
    background-position: left;
}

.button2{
    margin-right: 50px;
}

/*------footer------*/

.footer-container{
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
 }

.email, .number{
    width: 50%;
    text-align: center;
    padding: 5% 10%;
}

.email span, .number span{
    font-weight: 600;
}

.copyright{
    background: #F5F5F5;
    text-align: center;
    padding-bottom: 2%;
}